#SoundToy .note {
    background-color: #ffffff;
    position: relative;
    width: 60px;
    cursor: pointer;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.3);
    flex-shrink: 1;
}

#SoundToy .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #cfcfcf;
    background: linear-gradient(rgb(253, 200, 48) 0%, rgb(243, 115, 53) 100%);
}

#SoundToy {
    display: flex;
    height: 180px;
    flex-direction: row;
    padding-top: 40px;
}