:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg-cover {
    background-image: url(https://pinegrow.com/pg4assets/img/blue.bck.jpg);
    color: white;
    background-size: cover;
}

.vh100 {
    height: 100vh;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.pages-container {
    position: relative;
    font-size: 20px;
}

.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
.page-7 {
    position: absolute;
    width: 100%;
}

.bg-dark-cover {
    background-color: #1d7cae;
    color: white;
}

.bg-light-cover {
    background-color: #5fb2c4;
    color: white;
}

.display-big {
    font-size: 35px;
}

.bg-vdark-cover {
    background-color: #2c2c2c;
    color: white;
}

.bg-vlight-cover {
    background-color: #e8ecee;
}

.bg-blue-cover {
    background-color: #2a79b2;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bg-yellow-cover {
    background-color: #1b4f33;
    color: white;
}