body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: none;
        color: #999;
    }
}

.bg-black a {
    color: white;

    &:hover {
        text-decoration: none;
        color: #999;
    }
}

a.see-more {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    background: white;
    color: black;
    padding: 0.3rem 1rem;
    transition: all 0.2s ease;
    border: 2px solid white;

    &:hover {
        background: black;
        color: white;
    }

    .btn-big {
        font-size: 1.25rem;
        padding: 0.5rem 1.2rem;
    }
}

.bg-black {
    background-color: black;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
}

nav.navbar {
    border-bottom: 1px solid #333;
}

main {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-section {
    position: relative;
    overflow: hidden;
}

img.banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.banner-yt-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.banner-overlay {
    position: relative;
    height: 100%;

    .banner-text {
        margin: -5px 0;
        width: 100%;
    }
}

section {
    position: relative;

    .floating-title {
        position: absolute;
        left: 20%;
        top: 0%;
        font-size: 10rem;
        font-weight: 800;
        opacity: 0.1;
        max-width: 900px;
        z-index: -2;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17vmin;
    }
}

a.event-main-link {
    background: white;
    color: black;
    transition: all 0.3s ease;

    img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        background: linear-gradient(to right, #b92b27, #1565c0);
        background-color: gray;
        color: white;
    }
}

.v-scrolling-block {
    width: 100%;

    @media (min-width: 992px){
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    >.row {
        min-width: 1200px;
    }

    img {
        height: 240px;
        width: 100%;
        min-width: 300px;
        object-fit: cover;
        padding: 10px;
        transition: all 0.3s ease;
    }
}

a.event-link {
    padding: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
        color: black;
        background-color: white;
    }

    img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
}

footer {
    background-color: white;
    position: sticky;
    bottom: 0;
}

.social-links {
    a {
        font-size: 1.5rem;
        margin-right: 5px;
        background-color: black;
        color: white;
        border: 2px solid black;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}

.go-to-top {
    position: fixed;
    right: 50%;
    bottom: 0px;
    transform: translate(50%, 100%);
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
    transition: all 0.2s ease;

    &:hover {
        color: white;
        background-color: #555;
    }
}