:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg-cover {
    background-image: url(https://pinegrow.com/pg4assets/img/blue.bck.jpg);
    color: white;
    background-size: cover;
}

.container {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.vh100 {
    height: 100vh;
}

h3 {
    font-weight: lighter;
}

.card-container {
    position: relative;
}

.card-container .image-container {
    width: 398px;
    height: 255px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.card-container .image-container .image {
    background-image: url('../img/creditcard.png');
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.card-container .card-light {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.14);
    position: absolute;
    border-radius: 50%;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}