html,
body {
    min-height: 100%;
    margin: 0;
    font-family: Georgia,serif;
    line-height: 1.33;
}

.skybck {
    background-image: url('https://pinegrow.com/pg4assets/img/blue.bck.jpg');
    background-size: cover;
}

.pgia-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    font-style: italic;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}