body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  color: #999;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #9698a6; }
  a:hover {
    text-decoration: none;
    color: #ff9729; }

.btn-custom {
  background: -webkit-gradient(linear, left top, right top, from(#ff9729), color-stop(#ffb86d), to(#ff9729));
  background: -webkit-linear-gradient(left, #ff9729, #ffb86d, #ff9729);
  background: -o-linear-gradient(left, #ff9729, #ffb86d, #ff9729);
  background: linear-gradient(90deg, #ff9729, #ffb86d, #ff9729);
  color: white;
  font-weight: 400;
  padding: 0.75rem 2.5rem;
  background-position: left center;
  background-size: 200%;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  .btn-custom:hover {
    color: white;
    opacity: 0.8;
    background-position: right center; }
    .navbar-light .navbar-nav .nav-link {
      color: #9698a6;
      font-size: 16px;
      margin: 0 5px; }
      .navbar-light .navbar-nav .nav-link:hover {
        color: #ff9729; }
  .navbar-light .btn-custom {
    padding: 0.5rem 1.7rem; }
  .navbar-brand img {
    height: 30px;
    width: auto; }

.bg-pattern {
  position: absolute;
  top: -37%;
  right: 20%;
  bottom: 0;
  height: 150vh;
  width: 150vh;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  min-width: 1400px;
  min-height: 1400px; }

.floating-phones {
  position: absolute;
  top: -8%;
  right: 20%;
  height: 125vh;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }
  .blog-post a {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
    display: block;
    color: #1f2235; }
    .blog-post a:hover {
      color: #ff9729; }
    .blog-post a > img {
      height: 200px;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }

.section-features {
  background-color: #f3f4f6; }
  .features-post .icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ff9729;
    background: -webkit-gradient(linear, left top, right top, from(#ff9729), color-stop(120%, #ffb86d));
    background: -webkit-linear-gradient(left, #ff9729, #ffb86d 120%);
    background: -o-linear-gradient(left, #ff9729, #ffb86d 120%);
    background: linear-gradient(90deg, #ff9729, #ffb86d 120%);
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 1.75rem;
    margin-bottom: 2.5rem; }

.section-blog {
  background-color: #fafafa; }

footer {
  background-color: #1f2235; }
  .social-links a {
    margin-right: 5px;
    color: white; }
    .social-links a:hover {
      color: #ff9729; }
  .site-links a {
    display: block;
    margin-bottom: 5px; }

.section-hero {
  background-color: #fafafa; }

img.footer-logo {
  height: 30px;
  width: auto; }
