body {
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.35;
}

main {
    padding: 5rem 0;
    width: 560px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.27);
    display: none;
    background-color: #fff;
}

.scroll-indicator > .bar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg,#dce35b 0,#45b649 100%);
}

.subtitle {
    font-style: italic;
    font-weight: 600;
}

img {
    max-width: 100%;
}